<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <title>commit组件</title>
    <link rel="stylesheet" href="css/commitComponent.css" />
</head>
<body>
    <div id="demo">
        <h1>Latest Vue.js Commits</h1>
        <template v-for="branch in branches">
            <!-- v-model的值就是value的值；这里就是当v-model的值和value的值相等的那项被选中了 -->
            <input type="radio" v-bind:id="branch" v-bind:value="branch" name="branch" v-model="currentBranch">
            <label v-bind:for="branch">{{ branch }}</label>
        </template>
        <p>vuejs/vue@{{ currentBranch }}</p>
        <ul>
            <li v-for="record in commits">
                <a v-bind:href="record.html_url" target="_blank" class="commit">{{ record.sha.slice(0, 7) }}</a>
                - <span class="message">{{ record.commit.message | truncate }}</span><br/>
                by <span class="author"><a v-bind:href="record.author.html_url" target="_blank">{{ record.commit.author.name }}</a></span>
                at <span class="date">{{ record.commit.author.date | formatDate }}</span>
            </li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="js/commitComponent.js"></script>
</body>
</html>
